<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>Document</title>
		<script src="https://unpkg.com/vue@3.0.2"></script>
        <link rel="stylesheet" href="styles.css">
    </head>
	<body>
		<h1>double click to mark/unmark champion as fav 😃</h1>
           

		<div id="app">
			<div v-if="display">
              <ul class="mainList">
                  <li v-for="champion in champions" :class="{fav: champion.isFav}" @dblclick="toggleFav($event, champion)">
                    <div  v-show="champion.display">  
                    <span  class="favRibbon" title="double click to toggle fav"></span>
                     <!-- <a :href="champion.url" target="_blank"> -->
                        <h3>{{champion.name}}</h3>
                        <h4>{{champion.role}}</h4>
                        <h5>{{champion.release}}</h5>
                        <img :src="champion.img" :alt="champion.name">
                    </div>
                        <span  class="remove" title="click to hide" v-if="champion.display" @click="hideDisplay(champion)">X</span>
                        <span  class="removed" title="click to show" v-else @click="show(champion)">?</span>

                     <!-- </a> -->
                  </li>
              </ul>
              <ul class="favList">
                  <h1>Fav Champs List:</h1>
                  <li v-for="champion in filteredChampions">
                      <h3>{{champion.name}}</h3>
                  </li>
              </ul>
            </div>
			

		</div>

		<script src="app.js"></script>
	</body>
</html>
