body{
    background-color: #152642;
}
#app{
    max-width: 960px;
    margin: auto auto;
    border: 2px solid #666666;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 3px 3px 15px #888888;
}
h1{
    text-align: left;
    font-size: 20px;
    color: #441;
    text-shadow: 1px 1px #929;
}
.box{
    height: 100px;
    width: 100px;
    background-color: #424242;
}
img{
    width: 100px;
    /* height: 100px; */
    border-radius: 9999px;
}
ul{
    list-style: none;
    display: flex;
    flex-wrap: wrap;
}
li{
    border: 3px solid #323232;
    outline: 2px solid #121212;
    border-radius: 20%;
    padding: 10px;
    margin: 5px;
    text-align: center;
    color: white;
    font-weight: bolder;
    background:#222222;
    position: relative;
}
li a{
    text-decoration: none;
    color: unset;
}
li:h3{
    text-shadow: 2px 12px 5px rgba(0, 0, 0, 0.5);
}
li:hover{
    transition: all 0.2s;
    background-color: #154642;
}
.fav{
border-radius: 9999999px;
background-color: #999999;}
.favRibbon{
    position: absolute;
    height: 10px;
    width: 10px;
    background-color: white;
    border-radius: 99999px;
    top: -5px;
    right: 47%;
    cursor: pointer;
}
.fav .favRibbon{
    background-color: gold;
}
.remove, .removed{
    color: white;
    background-color: red;
    border-radius: 99999px;
    width: 10px;
    height: 10px;
    padding: 2px;
    font-size: 8px;
    position: absolute;
    bottom: -4px !important;
    right: 45%;
    cursor: pointer;

}